.logo-text-right {
  @media screen and (max-width: $bp-tablet) {
    display: none;
  }
}
.logo-text-left {
  @media screen and (min-width: $bp-tablet) {
    display: none;
  }
}

.header-container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // logo
  &-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &-logo__image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  &-logo__text {
    font-weight: 500;
  }

  //   link-list
  &-link-list {
    display: flex;
    gap: 16px;

    @media screen and (max-width: $bp-tablet) {
      display: none;
    }
  }
  &-link {
    font-weight: 400;
    font-size: 16px;
    cursor: default;

    transition: color 0.3s;
  }
  &-link:hover {
    color: #7a7a7a;
  }
}

// mobile-menu-btn
.mobile-menu {
  &-btn {
    border: none;
    background-color: transparent;
    height: 32px;
    width: 29px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
  &-icon {
    width: 29px;
    fill: black;
    height: 15px;
  }
}
