.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;

  transform: translateX(100%);
  transition: 0.3s;

  &.is-open {
    transform: translateX(0);
  }

  //   Navigation
  &-nav {
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
  }

  &-logo {
    display: flex;
    align-items: center;
    gap: 10px;

    &__image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    &__text {
      font-weight: 500;
    }
  }

  &-btn__close {
    background-color: transparent;
    border: none;
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 0;
  }
  &-icon__close {
    height: 32px;
    width: 32px;
    fill: black;
  }
}
